<!--吐槽 -->
<div class="modal fade" id="comedy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="comedyController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        {{data.content}}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>