<!--未中奖界面 -->
<div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body centered">
      </div>
      <div class="modal-footer">
         <div class="btn-blue-container">
           <button type="button" class="btn btn-blue rounded20" data-dismiss="modal">继续抽奖</button>
           <span class="btn-star"></span>
          </div>
      </div>
    </div>
  </div>
</div>