 <!--话题 -->
    <div class="modal fade" id="friend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="friendController">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body">
            <form role="form" class="centered">
              <div class="form-group">
                <textarea class="form-control" id="mywish" placeholder="说你所想，写你所爱，大声告诉全世界，有机会出现在JUJU FRIEND中"></textarea>
              </div>
              <button type="submit" id="sendwish" class="btn btn-yellow rounded" ng-click="sendJujuFriend()" data-dismiss="modal">Biu 出去</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>