<!--扭蛋页面 -->
<img src="img/nonebg.png" style="width:100%" alt="...">
<div class="carousel-caption game">
 <div ng-controller="gameController as jujuCtrl" class="centered game-container">
 	<img class="game-gif" ng-src="img/gameanimation.gif" style="position:relative; display:none"/>
 	<img class="game-gif" ng-src="img/gamestart.png" style="position:relative"/>
    <button class="game-play btn circled" ng-click="(data.play_last_count > 0) && play()">抽我</button>
    <div class="game-last-time">还有{{data.play_last_count}}次机会yo~</div>
 </div>
</div>