<!--奖品 -->
<div class="modal fade" id="gift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="giftController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body centered">
        <h3 class="title">{{data.gift_title}}</h3>
        <img ng-src="{{data.gift_image}}" class="recommend-image" style="margin-bottom:10px;">
        </hr>
        <div class="description">{{data.gift_description}}</div>
      </div>
      <div class="modal-footer">
          <div class="btn-blue-container">
             <button type="button" class="btn btn-blue rounded20" data-dismiss="modal">继续抽奖</button>
             <span class="btn-star"></span>
          </div>
      </div>
    </div>
  </div>
</div>