 <!--用户推荐 -->
  <div class="modal fade" id="recommend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="recommendController">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>

        <div class="modal-body centered">
          <div class="recommend-image-container">
            <img ng-src="{{data.avarta}}" class="recommend-image">
          </div>
          </hr>
          <h3 class="recommend-user">{{data.username | uppercase }}</h3>
          <span class="recommend-attribute">二次元属性: {{data.attribute}}</span>
          <br>
          <span class="recommend-price">$ 777,777,777</span>
          </br>
          <button type="button" class="follow btn btn-warning" ng-click="togglefollow()" ng-class="{followed: data.followed}"><span ng-hide="data.followed">关注TA</span><span ng-show="data.followed">已关注</span></button>
        </div>
        <div class="modal-footer"> 
          <button type="button" class="btn btn-blue rounded" data-dismiss="modal">继续抽奖</button>
        </div>
      </div>
    </div>
  </div>