<!--许愿页面 -->
<img src="img/nonebg.png" style="width:100%" alt="...">
<div class="carousel-caption wish-list">
  <div ng-controller="wishController" >
    <ul class="nostyle nopadding">
      <li class="wish-line" ng-show="myWish.wished">
        <div class="row">
            <div class="col-xs-2">
              <img ng-src="{{current_user.avarta}}" class="wish-avarta img-circle">
            </div>
            <div class="col-xs-7" style="margin-left:10px">
              <h4 class="text-left wish-user pull-left">{{myWish.username}}</h4>
              <span class="like-count push-right">共同愿望者{{myWish.like_count}}</span>
              <p class="text-left wish-content clear">{{myWish.content}}</p>
            </div>
            <div class="col-xs-2 wish-btn-container">
              <button class="rounded btn btn-orange-inverse" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
            </div>
          </div>
      </li>
      <li ng-repeat="wish in wishes | limitTo:4" class="wish-line">
          <div class="row">
            <div class="col-xs-2">
              <img ng-src="{{wish.avarta}}" class="wish-avarta img-circle">
            </div>
            <div class="col-xs-7" style="margin-left:10px">
              <h4 class="text-left wish-user">{{wish.username}}</h4>
              <p class="text-left wish-content">{{wish.content}}</p>
            </div>
            <div class="col-xs-2 wish-btn-container" style="margin-top:20px;">
              <button class="rounded20 btn btn-red-inverse" ng-hide="wish.i_liked" ng-click="likeit($index)"><i class="fa fa-heart-o"></i></button>
              <button class="rounded btn btn-red" ng-show="wish.i_liked" ng-click="dislikeit($index)"><i class="fa fa-heart"></i></button>
            </div>
          </div>
      </li>
    </ul> 
    <button type="submit" class="btn btn-orange rounded20" ng-click="popMyWish()">大声说出你的二次元愿望！</button>
    <div ng-include="'views/mywish.html'"></div>
  </div>
</div>